<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="/hr.css">

    <title>Manage Applications</title>

    <style>
        html, body{
            background-color: #EEEEEE;
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.6s;
            font-size: 17px;
        }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.activated {
            background-color: #f0f0f0;
        }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            background-color: white;
            height: 300px;
            overflow: auto;
        }

        .tab{
            background-color: white;
        }

        .dark{
            background-color: #4047B3;
            color: white;
        }
        .search{
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .btn-reports{
            background-color: #ffcc00;
            font-size: 120%;
            color: black;
            border-radius: 5px;
            border: solid 2px #C5B8B8;
            padding: 0.5vh;
            padding-left: 2vh;
            padding-right: 2vh;
            transition-duration: 0.4s;
            margin-top: 10px;
            width: auto;
        }
    </style>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <img src="/images/crt_icon.png" alt="" class="nav_logo" draggable="false">
        <a href="/hr/home" class="nav_content">Dashboard</a>
        <a href="/hr/managedrivers" class="nav_content">Manage Drivers</a>
        <a href="/hr/viewapplications" class="active nav_content">View Applications</a>
        <a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="hamburger()">&#9776;</a>
        <div class="drpdwn">
            <button class="dropbtn"><%= user_name %>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="drpdwn-content">
                <a href="/hr/profile">Account Settings</a>
                <a href="/logout">Logout</a>
            </div>
        </div> 
    </div>

    <div class="content">
        <div class="tab">
            <button class="tablinks activated" onclick="openTab(event, 'forChecking')">For Checking</button>
            <button class="tablinks" onclick="openTab(event, 'forInterview')">For Interview</button>
            <button class="tablinks" onclick="openTab(event, 'newDriver')">For Updating</button>
        </div>

          <!-- FOR CHECKING TABLE -->
          <div id="forChecking" class="tabcontent">
            <input type="text" id="forCheckingNames" onkeyup="searchForChecking()" placeholder="Search here" class="form-control search">
            <table class="table table-hover" id="forCheckingTable">
                <thead class="dark">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date of Submission</th>
                </thead>
                
                <% if(forChecking.length!=0){ var i=1;
                    forChecking.forEach(function(forChecking){ %>
                <tr class="items" onclick="window.location='/hr/viewforcheckingdetails/<%=forChecking.applicationID %>'">
                    <td><%=forChecking.firstName%> <%=forChecking.lastName%></td>
                    <td><%=forChecking.emailAddress %></td>
                    <td><%=ad_forChecking %></td>
                </tr>
                <% i++; }) %> <% } %>
            </table>
          </div>
          
          <!-- FOR INTERVIEW TABLE -->
          <div id="forInterview" class="tabcontent">
            <input type="text" id="forInterviewNames" onkeyup="searchForInterview()" placeholder="Search here" class="form-control search">
            <table class="table table-hover" id="forInterviewTable">
                <thead class="dark">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date of Submission</th>
                </thead>
                
                <% if(forInterview.length!=0){ var i=1;
                    forInterview.forEach(function(forInterview){ %>
                <tr class="items" onclick="window.location='/hr/viewforinterviewdetails/<%=forInterview.applicationID %>'">
                    <td><%=forInterview.firstName%> <%=forInterview.lastName%></td>
                    <td><%=forInterview.emailAddress %></td>
                    <td><%=ad_forInterview %></td>
                </tr>
                <% i++; }) %> <% } %>
            </table>
          </div>

          <!-- NEW DRIVERS TABLE -->
          <div id="newDriver" class="tabcontent">
            <input type="text" id="newDriverNames" onkeyup="searchNewDriver()" placeholder="Search here" class="form-control search">
            <table class="table table-hover" id="newDriverTable">
                <thead class="dark">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date of Submission</th>
                </thead>
                
                <% if(newDriver.length!=0){ var i=1;
                    newDriver.forEach(function(newDriver){ %>
                <tr class="items" onclick="window.location='/hr/viewforupdating/<%=newDriver.applicationID %>'">
                    <td><%=newDriver.firstName%> <%=newDriver.lastName%></td>
                    <td><%=newDriver.emailAddress %></td>
                    <td><%=ad_NewDriver %></td>
                </tr>
                <% i++; }) %> <% } %>
            </table>
          </div>
          <button class="btn-reports" style="float: left; margin-top: 20px;" onclick="window.location='/hr/download-applicant-records'">Generate Report</button>
    </div>
    

    <script>
    function hamburger() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    function searchForChecking() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("forCheckingNames");
        filter = input.value.toUpperCase();
        table = document.getElementById("forCheckingTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }       
        }
    }

    function searchForInterview() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("forInterviewNames");
        filter = input.value.toUpperCase();
        table = document.getElementById("forInterviewTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }       
        }
    }

    function searchNewDriver() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("newDriverNames");
        filter = input.value.toUpperCase();
        table = document.getElementById("newDriverTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }       
        }
    }
    </script>

    <script>
    document.getElementById('forChecking').style.display = "block";
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");

        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" activated", "");
        }
        
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " activated";
    }
    </script>
</body>
</html>